body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.b{
  height: 230px;
}
hr{
  width: 105px;
  background-color: rgb(248, 117, 17);
  opacity: 2 ;
  height: 5px;
  text-align: center;
}
h1{
  text-transform: uppercase;
  position: static;
  text-align: center;
  color: #d8dee5;
}


button{
  background-color: rgb(248, 117, 17);
  border-color:rgb(248, 117, 17) ;
  border-radius: 50px;
}
.flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
